[masters]
master ansible_host=REPLACE_WITH_MASTER_FLOATING_IP ansible_user=rocky ansible_ssh_private_key_file=../cluster.key

[workers]
worker1 ansible_host=192.168.10.102 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker2 ansible_host=192.168.10.103 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker3 ansible_host=192.168.10.104 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker4 ansible_host=192.168.10.105 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker5 ansible_host=192.168.10.110 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker6 ansible_host=192.168.10.111 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker7 ansible_host=192.168.10.112 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key
worker8 ansible_host=192.168.10.113 ansible_user=rocky ansible_ssh_private_key_file=../cluster.key

[cluster:children]
masters
workers

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

[workers:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand="ssh -i ../cluster.key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p rocky@REPLACE_WITH_MASTER_FLOATING_IP"'
